@{
    var i = 1;
    foreach (var item in ViewBag.lista)
    {
        i = i + 1;
    }
    var total = i - 1;
}

<div class="row">

	@foreach (var item in ViewBag.lista)
	{
		<div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="thumbnail-mostrarall" href="#">
			    <img src="Uploads/@item" onclick="openModal();currentSlide(@i)" class="img-responsive mostrarall-thumbnail" alt="" />
                <div class="image-imagen">Imagen</div>
            </a>
            <br /><br /><br />
		</div>
	}
	@foreach (var item2 in ViewBag.muestraPDF)
	{
		<div class="col-md-3 col-sm-4 col-xs-6 thumb">
			<a class="thumbnail-mostrarall" href="@Url.Action(
					"Index",
					"MostrarPDF",
					new{
					busqueda = item2
				},
				null
				)">
				<img src="@Url.Content("/Uploads/"+@item2)" class="img-responsive mostrarall-thumbnail" alt="" />
                <div class="image-novela">Novela</div>
			</a>
            <br /><br /><br />

		</div>

	}
    @foreach (var item3 in ViewBag.muestraComic)
	{
		<div class="col-md-3 col-sm-4 col-xs-6  thumb">
			<a class="thumbnail-mostrarall" href="@Url.Action(
					"Index",
					"LectorComic",
					new{
					busqueda = item3
				},
				null
				)">
				<img src="@Url.Content("/Uploads/"+@item3)" class="img-responsive mostrarall-thumbnail" alt=""  />
                <div class="image-comic">Comic</div>
			</a>
            <br /><br /><br />
		</div>
	}

    @foreach (var item4 in ViewBag.muestraManga)
	{
		<div class="col-md-3 col-sm-4 col-xs-6 thumb">
			<a class="thumbnail-mostrarall" href="@Url.Action(
					"Index",
					"LectorComic",
					new{
					busqueda = item4
				},
				null
				)">
				<img src="@Url.Content("/Uploads/"+@item4)" class="img-responsive mostrarall-thumbnail" alt=""  />
                <div class="image-manga">Manga</div>
			</a>
            <br /><br /><br />
		</div>
	}
</div>

    