@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model cubicomic.Models.ApplicationUser
@using Microsoft.AspNet.Identity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br /><br />
                @Html.Partial("_PerfilTopPartial")
                <br /><br />
                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="profile-sidebar">
                                @Html.Partial("_PerfilSidebarPartial")
                                <!-- SIDEBAR MENU -->
                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        <li>
                                            <a href="Perfil">
                                                <i class="glyphicon glyphicon-home"></i>
                                                Perfil
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-user"></i>
                                                Configuración de Cuenta
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END MENU -->
                            </div>
                        </div><!--/col-->

                        <div class="col-sm-9">

                            <!-- <div class="well"> -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                                <li><a href="#profile" data-toggle="tab">Password</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active in" id="home">
                                    <br />
                                    @using (Html.BeginForm("Edit", "Miembros", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            <h4>Student</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*@if (Model.Files.Any(f => f.FileType == FileType.Avatar))
                                            {
                                                <div class="form-group">
                                                    <span class="control-label col-md-2"><strong>Current Avatar</strong></span>
                                                    <div class="col-md-10">
                                                        <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
                                                    </div>
                                                </div>
                                            }*@

                                            <div class="form-group">
                                                @Html.Label("Avatar", new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <input type="file" id="Avatar" name="upload" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <form id="tab2">
                                        <label>Nueva contraseña</label>
                                        <input type="password" class="form-control">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--  </div> -->

                        </div><!--/col-->

                    </div><!--/profile-->
                </div>
                <!-- end: Content -->
            </div>
        </div>
    </div>
</body>
</html>