@model cubicomic.ViewModels.PerfilViewModel
@using Microsoft.AspNet.Identity

<link rel="stylesheet" href="~/Content/perfil.css" /> 

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="profile-sidebar">
                                @Html.Partial("_PerfilSidebarPartial")
                                <!-- SIDEBAR MENU -->
                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        <li class="active">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-home"></i>
                                                Perfil
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ConfigCuenta">
                                                <i class="glyphicon glyphicon-user"></i>
                                                Configuración de Cuenta
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END MENU -->
                            </div>
                        </div><!--/col-->

                        <div class="col-sm-9">

                            <!-- <div class="well"> -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
                                    <li><a href="#galeria" data-toggle="tab">Galería</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane active in" id="perfil">
                                        <br />
                                        <form class="form-horizontal" id="tab">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" , @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control" , @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control" , @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Email,  htmlAttributes: new { @class = "form-control" , @readonly="readonly"})
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="galeria">
                                        @Html.Partial("_GaleriaPartial2")
                                    </div>
                                </div>

                            <!--  </div> -->

                        </div><!--/col-->

                    </div><!--/profile-->
                </div>
                <!-- end: Content -->
            </div>
        </div>
    </div>
</body>
</html>