@{
    ViewBag.Title = "Subir Imagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
   if (TempData["notice"] != null) {
   <text>
   <script type="text/javascript">
     alert('@TempData["notice"]');
   </script>
   </text>
   }
}

<div class="row">
    <div class="col-sm-5 col-centered formulario-subirimagen">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#imagen" data-toggle="tab">Subir Imagen</a></li>
            <li><a href="#pdf" data-toggle="tab">Subir Novela</a></li>
            <li><a href="#comic" data-toggle="tab">Subir Comic</a></li>
            <li><a href="#manga" data-toggle="tab">Subir Manga</a></li>
        </ul>
        <br />
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="imagen">
                @Html.Partial("_Imagen")
            </div>
            <div class="tab-pane fade" id="pdf">
                @Html.Partial("_PDF")
            </div>
            <div class="tab-pane fade" id="comic">
                @Html.Partial("_Comic")
            </div>
            <div class="tab-pane fade" id="manga">
                @Html.Partial("_manga")
            </div>
        </div>
        <h3>@ViewBag.Error</h3>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}